<div style="background-color: lavender;">

</div>
<!-- <mat-sidenav-container>
  <mat-sidenav mode="side" opened #sidenav style="background-color: white!important;width: 230px;">
    <div style="background-color: lightskyblue">
      <mat-card>
        <div>
          <mat-icon>checkbox</mat-icon>
          <span style="text-align: center">Tasks</span>
        </div>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <div style="text-align: center;">
          <button mat-raised-button color="primary">Add Task</button>
        </div>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <mat-list role="list">
          <mat-list-item role="listitem">In Progress</mat-list-item>
          <mat-list-item role="listitem">Started</mat-list-item>
          <mat-list-item role="listitem">Completed</mat-list-item>
          <mat-list-item role="listitem">OnHold</mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="mat-sidenav-content-wrapper">
    <mat-toolbar color="primary">
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </mat-toolbar>
    <div>
      <mat-card>
        <app-task-list></app-task-list>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->