<div class="header mat-accent-bg p-16" fxlayout="row" fxlayout.gt-xs="row" fxlayoutalign="start start" fxlayoutalign.gt-xs="space-between center">
  <div class="ng-tns-c55-220" fxlayout="row" fxlayoutalign="start center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
    <button (click)="toggle()" mat-icon-button class="mr-12 ml-20" fxlayout="row" fxlayoutalign="start center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
      <mat-icon class="mat-icon material-icons mr-8" role="img" aria-hidden="true">menu</mat-icon>
    </button>
    <div class="logo" fxlayout="row" fxlayoutalign="start center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
      <mat-icon class="logo-icon mr-16 mat-icon material-icons ng-trigger ng-trigger-animate" role="img" aria-hidden="true">assignment </mat-icon>
      <span class="logo-text h1 ng-trigger ng-trigger-animate"> {{title}} </span>
    </div>
  </div>
  <div fxlayout="row" fxlayout.gt-xs="column" fxlayoutalign="start center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
    <mat-icon class="mat-icon ml-20 mr-8">search</mat-icon>
    <mat-form-field color="accent">
      <input matInput [placeholder]="placeholderForSearch">
    </mat-form-field>
  </div>
</div>