<div class="box">
  <div>
    <form (ngSubmit)="saveTask()" novalidate [formGroup]="taskForm">
      <mat-form-field>
        <input matInput placeholder="Task Name" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>
      <!-- <mat-form-field>
        <input matInput [matDatepicker]="startDate" placeholder="Start Date" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="dueDate" placeholder="Due Date" formControlName="dueDate">
        <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
        <mat-datepicker #dueDate></mat-datepicker>
      </mat-form-field> -->
      <button mat-raised-button type="submit">Update</button>
    </form>
  </div>
</div>
