<div style="margin-bottom: 10px;">

</div>
<div fxlayout="row" fxlayoutwrap="wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
  <div class="m-gap p-gap" fxflex="100" fxflex.lg="33.33" fxflex.md="33.33" fxflex.sm="100" fxflex.xl="33.33" fxflex.xs="100"
    style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
    <mat-card class="mat-card">
      Risks
      <mat-divider></mat-divider>
      <div>
          <mat-list role="list">
              <mat-list-item role="listitem">Some Count</mat-list-item>
              <mat-list-item role="listitem">Item 2</mat-list-item>
              <mat-list-item role="listitem">Item 3</mat-list-item>
            </mat-list>
      </div>
    </mat-card>
  </div>
  <div class="m-gap p-gap" fxflex="100" fxflex.lg="33.33" fxflex.md="33.33" fxflex.sm="100" fxflex.xl="33.33" fxflex.xs="100"
    style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
    <mat-card class="mat-card">
      Assessments
      <mat-divider></mat-divider>
      <div>
          <mat-list role="list">
              <mat-list-item role="listitem">Some Count</mat-list-item>
              <mat-list-item role="listitem">Item 2</mat-list-item>
              <mat-list-item role="listitem">Item 3</mat-list-item>
            </mat-list>
      </div>
    </mat-card>
  </div>
  <div class="m-gap p-gap" fxflex="100" fxflex.lg="33.33" fxflex.md="33.33" fxflex.sm="100" fxflex.xl="33.33" fxflex.xs="100"
    style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
    <mat-card class="mat-card">
      Properties
      <mat-divider></mat-divider>
      <div>
          <mat-list role="list">
              <mat-list-item role="listitem">Some Count</mat-list-item>
              <mat-list-item role="listitem">Item 2</mat-list-item>
              <mat-list-item role="listitem">Item 3</mat-list-item>
            </mat-list>
      </div>
    </mat-card>
  </div>
</div>
