<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Profile</h2>
    <form>
      <mat-tab-group class="demo-tab-group">
        <mat-tab label="Update Profile">
          <div class="demo-tab-content">
            <div class="profileForm">
              <form>
                <div class="example-container">
                  <mat-form-field>
                    <input matInput #input maxlength="20" placeholder="First Name">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput #input maxlength="20" placeholder="User Name">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Date of Birth">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Role">
                      <mat-option value="1">1st Line Support</mat-option>
                      <mat-option value="2">Admin</mat-option>
                      <mat-option value="3">Consultant</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="example-container-right">
                  <mat-form-field>
                    <input matInput #input maxlength="20" placeholder="Last Name">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput #input maxlength="30" placeholder="Email Address">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Preferred Language">
                      <mat-option value="1">English</mat-option>
                      <mat-option value="2">French</mat-option>
                      <mat-option value="3">Spanish</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </form>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Change Password">
          <div class="demo-tab-content">
            <form>
              <div class="profileForm">
                <div class="example-container">
                  <mat-form-field>
                    <input matInput #input maxlength="20" type="password" placeholder="Current Password">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput #input maxlength="20" type="password" placeholder="New Password">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput #input maxlength="20" type="password" placeholder="Confirm New Password">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                  </mat-form-field>
                </div>
                <div class="example-container-right">
                  <mat-form-field>
                    <input matInput #input maxlength="20" placeholder="Security Question">
                    <mat-icon matSuffix>security</mat-icon>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput #input maxlength="20" placeholder="Security Answer">
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </mat-tab>
        <mat-tab label="Application Configuration">
          <div class="demo-tab-content">
            <form>
              <div class="profileForm">
                <div class="example-container">
                  <mat-form-field>
                    <mat-select placeholder="Configure Widgets" multiple>
                      <mat-option value="1">Risk Assessment Summary</mat-option>
                      <mat-option value="2">Compliance Summary</mat-option>
                      <mat-option value="3">KPI Compliance</mat-option>
                      <mat-option value="4">Risks Summary</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Theme">
                      <mat-option value="1">Light</mat-option>
                      <mat-option value="2">Dark</mat-option>
                      <mat-option value="3">Classic</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary">Save Changes</button>
    <button mat-raised-button color="accent">Cancel</button>
  </mat-card-actions>
</mat-card>
