.example-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  float: left;
}

.mat-card{
  height: 520px;
}

.example-container > * {
  width: 100%;
}

.example-container-right{
  float: right;
  clear: both;
}
