<div class="container">
  <div id="qudoo-grid" class="row">
    <div class="grid-heading">
      <h4>{{customGridModel.title}}</h4>
      <p *ngIf="dataSource && dataSource.length> 0" [ngStyle]="{'padding-left': '15px'}">
        {{ products.length }} items available
      </p>
    </div>
    <div [ngStyle]="{'padding': '15px 0px','margin': '15px 0'}" *ngIf="customGridModel.displayAddButton">
      <div class="row">
        <div class="col-lg-12 col-xs-12">
          <button type="button" [ngStyle]="{'float': 'left'}" class="btn btn-default text-right" mat-raised-button (click)="addNewProduct()">Add New</button>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-8 col-sm-12">
      <div class="row">
        <div class="input-group">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Search by name" [(ngModel)]="searchBy" />
            <button mat-button *ngIf="searchBy" matSuffix mat-icon-button aria-label="Clear" (click)="searchBy=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div class="table-responsive row">
        <div class="example-container mat-elevation-z8">
          <div *ngIf="!isLoading &&  dataSource.data != null && dataSource.data.length > 0">
            <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortActive="customGridModel.pageModel.sortColumn"
              matSortDirection="{{customGridModel.pageModel.sortDirection == 0? 'asc':'desc'}}" matSortDisableClear>

              <ng-container matColumnDef="expand">
                <mat-header-cell *matHeaderCellDef>Expand</mat-header-cell>
                <mat-cell *matCellDef="let element; let index=index" class="expand-buttons">
                  <a (click)="expandRow(index)" href="javascript:void(0)">
                    <i class="material-icons arrows" *ngIf="expandedRow === undefined || expandedRow !== index">add</i>
                    <i class="material-icons arrows" *ngIf="expandedRow === index">remove</i>
                  </a>
                </mat-cell>
              </ng-container>

              <ng-container *ngFor="let column of customGridModel.columns" matColumnDef={{column.columnDefinition}}>
                <mat-header-cell mat-sort-header={{column.columnDefinition}} *matHeaderCellDef class={{column.columnWidth}}> {{column.columnHeader}}</mat-header-cell>
                <mat-cell *matCellDef="let row" class={{column.columnWidth}}> {{column.cellcode(row)}} </mat-cell>
              </ng-container>
 
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                <mat-cell *matCellDef="let element" class="action-buttons">
                 
                  <a (click)="deleteSelected(element)" href="javascript:void(0)">
                    <i class="material-icons arrows">delete</i>
                  </a>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns; let index=index" class="example-row" #matrow>
              </mat-row>

            </mat-table>
            <mat-paginator [pageSizeOptions]="[5,10, 25, 100]" [length]="customGridModel.pageModel.totalRecord" [pageIndex]="customGridModel.pageModel.pageIndex"
              [pageSize]="customGridModel.pageModel.pageSize" (page)="pageEvent = getPagedProductData($event)" class="pagination"></mat-paginator>
          </div>
          <div *ngIf="!isLoading && (dataSource.data == null ||  dataSource.data.length <= 0)" [ngClass]="{'no-records' : true}">
            No records found.
          </div>
        </div>

      </div>
    </div>
  </div>
</div>