#qudoo-grid
{
    .grid-heading{
        width: 100%;
        border-bottom: 2px solid #e0e0e0;
        
    }
    .mat-table {
        display: block;
        border: 1px solid #e8e8e8;
        .material-icons {
            color:#098870;
        }
    }
    .mat-header-row{
        background-color: #098870;
    color: white;
    border: 1px solid #c7c5c5;
    .mat-header-cell{
    color: white;
    }
    .mat-sort-header-arrow {
        margin: 5px 0 0px 10px !important;
    }
    }
    .mat-paginator{
        background-color: #098870;
    color: white;
    .mat-paginator-decrement, .mat-paginator-increment {
        border-top: 2px solid rgba(255, 255, 255, 0.54) !important;
        border-right: 2px solid rgba(255, 255, 255, 0.54) !important;
    }

    }

    .no-records{
        padding: 30px 0;
        color: red;
        font-size: 20px;
    }
   
}

