<div class="user-pro-wrap">
  <div class="user-profile-thumb text-center">
    <div class="user-i">
      <!-- <img alt="" class="rad-full mb-1" height="100" src="assets/images/userpic.jpg" width="100"> -->
      <div>
        <span>Welcome back</span>
        <span>Vijay K</span>
      </div>
    </div>
  </div>
  <div class="most-used text-center">
    <a class="most-link" color="primary">
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">person</mat-icon>
    </a>
    <a class="most-link" color="primary">
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">home</mat-icon>
    </a>
    <a class="most-link" color="primary">
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">settings</mat-icon>
    </a>
  </div>
</div>
