.mat-dialog-content {
    min-height: 100px;
    text-align: center;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: auto;
    }
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: unset !important;
}
.loading-div {
    left: 50%;
    margin-left: -4em;
    /* display: block; */
    position: absolute;
    top: 50%;
    margin-top: -4.05em;
}