<mat-nav-list>
  <mat-list-item>
    <a mat-line [ngStyle]="{'padding-left': (depth * 30) + 'px'}" (click)="onItemSelected(item)" [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}">
      <button mat-icon-button>
        <mat-icon>{{item.iconName}}</mat-icon>
      </button>
      {{item.caption}}
      <span *ngIf="item.childrens && item.childrens.length" style="float:right">
        <!-- <span fxFlex></span> -->
        <!-- <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
          expand_more
        </mat-icon> -->
        <button mat-icon-button [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
          <mat-icon>expand_more</mat-icon>
        </button>
      </span>
    </a>
  </mat-list-item>
</mat-nav-list>
<div *ngIf="expanded">
  <appitem *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </appitem>
</div>
