<div class="sidebar-container">
  <div *ngFor="let item of menu | async">
    <mat-nav-list>
      <mat-list-item (click)="onItemSelected(item)" *ngIf="item.parentId == null">
        <a matLine [routerLink]="item.route">
          <button mat-icon-button>
            <mat-icon>{{item.iconName}}</mat-icon>
          </button>
          {{item.caption}}
          <span *ngIf="item.children && item.children.length" style="float:right">
            <!-- <span fxFlex></span> -->
            <button mat-icon-button [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
              <mat-icon>expand_more</mat-icon>
            </button>
          </span>
        </a>
      </mat-list-item>
    </mat-nav-list>
    <div *ngIf="expanded">
      <appitem *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
      </appitem>
    </div>
  </div>
</div>
