.menuclass {
    position: relative;
}

.active {
    border-left: 3.5px solid #03a9f4;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    a {
        color: #03a9f4 !important;
    }
}

:host {
    display: block;
    outline: none;
    .mat-list-item.active {
        border-left: 3.5px solid #03a9f4;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    &:hover,
    &:focus {
        >.mat-list-item:not(.expanded) {
            background-color: transparent !important;
        }
    }
}

.mat-list-item {
    padding: 2px 0;
    .routeIcon {
        margin-right: 40px;
    }
}

.submenu{
  position: absolute;
  margin-right: 30px;
  margin-top: 7px;
}
