.card-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

@media (max-width: 599px){
  .mat-card{
    width: 395px!important;
  }

  .mat-card-title{
    font-size: 30px !important;
    text-align: center;
  }
}

@media (max-width: 400px){
  .mat-card{
    width: 360px!important;
  }

  .mat-card-title{
    font-size: 28px !important;
    text-align: center;
  }
}


@media (max-width: 360px){
  .mat-card{
    width: 345px!important;
  }

  .mat-card-title{
    font-size: 26px !important;
    text-align: center;
  }

  :host input.mat-input-element {
    font-size: 32px;
 }
}


@media (max-width: 360px){
  .mat-card{
    width: 345px!important;
    top: -20px;
  }

  .mat-card-title{
    font-size: 26px !important;
    text-align: center;
  }

}

@media (min-width: 640px) and (max-width: 1024px) {
  .mat-card{
    width: 500px!important;
  }
  .example-container{
    width: 450px !important;
  }

  .mat-card-title{
    font-size: 26px !important;
    text-align: center;
  }
.card-container{
  height: 80vh !important;
}

}

@media (min-width: 1024px){
  .mat-card{
    width: 500px!important;
  }
  .example-container{
    width: 450px !important;
  }

  .mat-card-title{
    font-size: 42px !important;
    text-align: center;
  }

  .card-container{
    height: 80vh !important;
  }
}
