<div class="card-container">
  <form (ngSubmit)="onLogin()" [formGroup]="form" novalidate>
    <mat-card>
      <mat-card-title>
        QUOODA
      </mat-card-title>
      <mat-card-subtitle align="center">Welcome</mat-card-subtitle>
      <div class="alert alert-warning" *ngIf="errorMessage">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{errorMessage}}
      </div>
      <mat-card-content class="example-container">
        <mat-form-field>
          <input matInput placeholder="Username / Email" formControlName="username">
          <mat-error [ngClass]="{'has-error': hasFieldError('username')}">username is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" type="password" maxlength="10" minlength="6">
          <mat-error [ngClass]="{'has-error': hasFieldError('password')}">password is required</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <mat-spinner *ngIf="loading" color="accent" value="80" mode="determinate" diameter="30"></mat-spinner>
        <button mat-raised-button color="accent" [disabled]="loading">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
