<strong>Form Value</strong>
<pre>{{ form.value | json }}</pre>
<strong>Form is valid:</strong> {{form.valid}}

<mat-card class="customformcard">
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-content>
    <form novalidate [formGroup]="form" (submit)="handleSubmit($event)">
      <div *ngFor="let prop of objectProps">
        <label [attr.for]="prop"></label>
        {{prop.label}}
        <div [ngSwitch]="prop.type">
          <div *ngSwitchCase="'text'">
            <mat-form-field>
              <input matInput [type]="prop.type" [formControlName]="prop.key" [placeholder]="prop.key">
            </mat-form-field>
          </div>
          <div *ngSwitchCase="'number'">
            <mat-form-field>
              <input matInput [type]="prop.type" [formControlName]="prop.key" [placeholder]="prop.key">
            </mat-form-field>
          </div>
          <div *ngSwitchCase="'select'">
            <mat-select placeholder="Select" [formControlName]="prop.key">
              <mat-option *ngFor="let option of prop.options" [value]="option.value">{{option.label}}</mat-option>
            </mat-select>
          </div>
          <div *ngSwitchCase="'radio'">
            <mat-radio-group class="example-radio-group" [formControlName]="prop.key">
              <mat-radio-button class="example-radio-button" *ngFor="let option of prop.options" [value]="option.value">
                {{option.label}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div *ngSwitchCase="'date'">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControlName]="prop.key">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <p>
        <button type="submit">Save</button>
      </p>
    </form>
  </mat-card-content>
</mat-card>



