<form novalidate (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
  <div *ngFor="let prop of objectProps">
    <label [attr.for]="prop"></label>
    {{prop.label}}
    <div [ngSwitch]="prop.type">
      <input [type]="prop.type" *ngSwitchCase="'text'" [formControlName]="prop.key">
      <input [type]="prop.type" *ngSwitchCase="'number'" [formControlName]="prop.key">
      <div *ngSwitchCase="'select'">
        <select [formControlName]="prop.key">
          <option *ngFor="let option of prop.options" [value]="option.value">{{option.label}}
          </option>
        </select>
      </div>
      <div *ngSwitchCase="'radio'">
        <label *ngFor="let option of prop.options">
          <input
            type="radio"
            [name]="prop.key"
            [formControlName]="prop.key"
            [value]="option.value">
        </label>
      </div>
      <input [type]="prop.type" *ngSwitchCase="'date'" [formControlName]="prop.key">
    </div>
  </div>
  <p>
    <button type="submit">Save</button>
  </p>
</form>

<strong>Form Value</strong>
<pre>{{ form.value | json }}</pre>
<strong>Form is valid:</strong> {{form.valid}}
