.center-box{
  position: absolute;
  left: 105px;
  top: 130px;
}

.home-widget{
  background-color: lightblue;height: 250px;
}

.center-dashboard{
  margin: auto 0;
  top: 40%;
  bottom: 0;
  display: inline;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}
