<div class="row home-page">
  <div class="col-lg-4 col-md-4 col-xs-12">
    <div class="home-widget">
      <div class="center-dashboard">
        <img src="../../../assets/images/dashboard/home_planner.png" alt="myplanner">
        <h3>My Planner</h3>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-12">
    <div class="home-widget">
      <div class="center-dashboard">
        <img src="../../../assets/images/dashboard/home_dashboard.png" alt="dashboard">
        <h3>My Dashboard</h3>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-12">
    <div class="home-widget">
      <div class="center-dashboard">
        <img src="../../../assets/images/dashboard/home_workspace.png" alt="workspace">
        <h3>My Workspace</h3>
      </div>
    </div>
  </div>
</div>
<app-datatable [path]="'task'"
                 [columns]="['name', 'description', 'startDate', 'dueDate']">
</app-datatable>
