<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Task Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="startDate" placeholder="Start Date" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="endDate" placeholder="Due Date" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button type="button" mat-dialog-close>Cancel</button>
  <button class="mat-raised-button mat-primary" (click)="save()" type="submit" cdkFocusInitial>Save</button>
</mat-dialog-actions>