/* Structure */

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 820px;
    min-width: 300px;
    position: relative;
    padding: 0px;
}

// .example-header {
//     min-height: 64px;
//     display: flex;
//     align-items: center;
//     padding-left: 24px;
// }
.mat-input-container {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 32px;
    margin-top: 8px;
}

.example-selection-header {
    font-size: 18px;
    background: rgba(255, 64, 129, 0.3);
    border-bottom: 1px solid #d696ac;
}

.example-header {
    min-height: 56px;
    max-height: 56px;
    display: flex;
    align-items: center;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
    border-bottom: 1px solid transparent;
}

.example-table {
    overflow: auto;
    min-height: 300px;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}

.mat-cell,
.mat-footer-cell {
    font-size: 12px !important;
}

mat-header-cell[class="cdk-column-dataId"],
mat-cell[class="cdk-column-dataId"] {
    max-width: 85px !important;
}
mat-header-cell[class*="cdk-column-"],
mat-cell[class*="cdk-column-"] {
    max-width: 165px;
}

mat-cell {
    overflow: visible;
}

.mat-table .mat-row {
    position: relative;
    cursor: pointer;
    padding: 8px;
}

.mat-ripple {
    overflow: hidden;
}

.mat-accent-50-bg {
    background-color: #e1f5fe!important;
    color: rgba(0,0,0,.87)!important;
}

.add-button{
    position: absolute;
    z-index: 1000;
    top: -15px;
    right: -15px;
}