@import '~@angular/material/_theming';
@include mat-core();
$custom-theme-primary: mat-palette($mat-light-blue);
$custom-theme-accent: mat-palette($mat-orange, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);
$custom-light-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
$custom-dark-theme: mat-dark-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
.custom-light-theme {
    .mat-drawer {
        background-color: #2d323e !important;
        color: rgba(255, 255, 255, .87) !important;
    }
    @include angular-material-theme($custom-light-theme);
}

.custom-dark-theme {
    @include angular-material-theme($custom-dark-theme);
}
