.example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.example-spacer {
    flex: 1 1 auto;
}

[_nghost-c15] .mat-toolbar[_ngcontent-c15] {
    background: inherit;
    color: inherit;
    position: relative;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    height: 64px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.p-0 {
    padding: 0 !important;
}

.navbar {
    margin-bottom: 0 !important;
}

@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: -15px;
        margin-top: 8px;
    }
}