<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode" [opened]="open" class="custom-light-theme sidenav">
    <div class="branding text-center">
      <h2>
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">graphic_eq</mat-icon>
        <span> Risk Lite</span>
      </h2>
    </div>
    <mat-divider class="side-menu-seperator"></mat-divider>
    <app-sidemenu #sidenav></app-sidemenu>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar [sidenav]="sidenav" (triggerSidenav)="toggle($event)"></app-navbar>
    <div class="loading-overlay"  style="opacity: 0;display: none;">
      <mat-progress-bar mode="indeterminate" #spinnerElement color="accent"></mat-progress-bar>
    </div>
    <div class="body-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
